.login {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px gray;
    background: aquamarine;
    position: relative;
}

.login > input {
    border-radius: 8px;
    border: 5px solid rgb(206, 252, 228);
    outline: none;
    color: black;
    margin: 0.5rem 0.75rem;
    width: 75%;
    font-size: 1rem;
}

.button {
    background-color: rgb(78, 206, 127);
    border: 2px solid rgb(78, 255, 187);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}